#header {
    height: 95px;
    background: #fff;
    position:fixed;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow:1px 1px 2px 0 rgb(0 0 0 / 9%);

    .logo a img{
        margin-top: 9px;
    }

    .header{
        height: 95px;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: start;
    }
}


.navbar ul {
    margin-right: 10px;
    li{
        display: inline-block;
        margin-right: 22px;
        cursor: pointer;
        a{
            text-decoration: none;
            font-family: iranSans;
            font-weight: 300;
            color: #3f3f3f;
            font-size: 15px;
        }
    }
}

